$primary-color: #0b0c10;
$secondary-color: #3500D3;
$show-home-image: true;
$home-image: url(../img/b2.jpg);
$background-opacity: 0.9;

//function
@mixin  easeOut{
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img{
      background: $home-image;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;

      //pseudo element which is basically treated as a div with a class in html
      &:after {
        content:'';
        //cover the entire body
        position: absolute;
        // starts at top right (0,0)
        top:0;
        right:0;

        //covers the entire page from starting point
        width:100%;
        height:100%;

        //overlay bg
        z-index: -1;
        background: rgba($primary-color,$background-opacity)

      }

    }
  }
}
